---
extends: default

ignore: |
  **/clusters/akron/flux-system
  **/clusters/eastbank/flux-system
  **/clusters/lottage/flux-system
  **/infrastructure/core/system-upgrade-controller
  **/*.sops.yaml

rules:
  line-length:
    max: 120
    level: warning
